devenv=C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\devenv.exe
nkd-build=S:\Programs\NVPACK\android-ndk-r12b\ndk-build.cmd
ue4_engine_dir=C:\Program Files\Epic Games\UE_4.16\Engine
ue4_project_dir=C:\Users\Roman\Documents\Unreal Projects\FaceRecognitionDemo
opencv_android_sdk_dir=S:\Programs\opencv-3.2.0-android-sdk\OpenCV-android-sdk\sdk
opencv_win64_build_dir=S:\Programs\opencv-3.2.0-vc14\opencv\build
opencv_version=320
